body{
 background-color: rgb(0, 204, 0);
text-align:center ;}
h1{ text-align: center; }
h2{ text-align: center; }
    body{ background-image: url(./imagens/maracanã.jpeg);
        background-repeat:unset ;
        background-position: center;}

table{ background-position: center;}
img{ background-position:  center;}