
body{ background-image: url(./imagens/vitoriafundo.png);
    color: rgb(255, 255, 255);
    text-shadow:1px 1px  1px rgb(0, 0, 0);}
    img{
        height: 70px;
        display: flex;
        margin: auto;
    }
    h1{ text-align: center;}
   
    